:root {
    --primary-text-color: #fff;
    --section-light-bg-color: rgb(61, 61, 61);
    --section-dark-bg-color: rgb(40, 39, 39);
    --statue-height: 50rem;
    --background-gradient: linear-gradient(to bottom, var(--section-light-bg-color) 0%, var(--section-dark-bg-color) 100%);

    --fs--2: clamp(0.7035rem, 0.8118rem + -0.1083vi, 0.7901rem);
    --fs--1: clamp(0.8889rem, 0.8767rem + 0.0611vi, 0.9377rem);
    --fs-0: clamp(1rem, 0.9375rem + 0.3125vi, 1.25rem);
    --fs-1: clamp(1.125rem, 0.9897rem + 0.6766vi, 1.6663rem);
    --fs-2: clamp(1.2656rem, 1.0268rem + 1.1944vi, 2.2211rem);
    --fs-3: clamp(1.4238rem, 1.0396rem + 1.9211vi, 2.9607rem);
    --fs-4: clamp(1.6018rem, 1.0156rem + 2.9311vi, 3.9467rem);
    --fs-5: clamp(1.802rem, 0.9373rem + 4.3236vi, 5.2609rem);
  }

  @font-face {
    font-family: 'Montrerrat Regular';
    src: url(assets/fonts/Montserrat-Regular.ttf);
  }

  @font-face {
    font-family: 'Montrerrat Black';
    src: url(assets/fonts/Montserrat-Black.ttf);
  }

  @font-face {
    font-family: 'Montrerrat Bold';
    src: url(assets/fonts/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: 'Montrerrat Semi-Bold';
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
  }

/****** General settings ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.3;
    word-wrap: break-word;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
    margin-inline: 1em;
    margin-top: 1em;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Montrerrat Semi-Bold';
    margin-block: 1em;
    font-size: var(--fs-4);
    word-wrap: normal;
}

h2 {
    font-family: 'Montrerrat Regular';
    font-size: var(--fs-2);
    word-wrap: normal;
}

h3 {
    font-family: 'Montrerrat Regular';
    font-size: var(--fs-1);
    word-wrap: normal;
}


h1, h2, h3, p {
    margin-bottom: 0.5em;
}

p {
    font-size: var(--fs-0);
}

body {
    font-family: 'Montrerrat Regular', system-ui, sans-serif;
    min-height: 100vh;
    color: var(--primary-text-color);
    background: var(--background-gradient);
}

/****** Navigation ******/

.primary_nav {
    font-size: var(--fs-0);
    padding: 0 1em 1em 1em;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_wrapper .primary_nav {
    background-color: rgb(0,0,0,0.8);
}

/****** Link styling ******/

.num_wrapper, .nav_list a {
    color: var(--primary-text-color);
    text-align: center;
    padding-bottom: 0.5em;
    outline: none;
}

.nav_list a:not(.phone_link):focus, .nav_list a:not(.phone_link):hover {
    border-bottom: 1px solid var(--primary-text-color);
}

.num_wrapper {
    padding-top: 0.5em;
}

.phone_link {
    border: 1px solid var(--primary-text-color);
    padding-bottom: 0em;
    padding: 0.2em 0.6em;
}

.phone_link:focus, .phone_link:hover {
    color: rgb(0,0,0,0.8);
    background-color: var(--primary-text-color);
}

/****** Main page ******/

.main_wrapper {
    background-image: url(assets/images/header-bg.jpg);
    filter: grayscale(100%);
}

.main.index {
    position: relative;
    height: var(--statue-height);
}

.reviews_wrapper {
    height:800px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews_section {
    width: 720px;
    height:95%;
    border-radius:8px;
    word-wrap: normal;
    filter: invert(0.85) hue-rotate(180deg);
    border: 2px solid black;
}

/****** Main page ******/ 

.form_bg_image {
    filter: grayscale(100%);
    background-image: url(assets/images/form-bg.jpg);
    background-size: cover;
    background-position: center;
}
.form_main_wrapper {
    display: flex;
    justify-content: center;
    background-color: rgb(0,0,0,0.8);
}

.form_main_wrapper.services_form_wrapper, .form_main_wrapper.support_form_wrapper {
    background-image: url(assets/images/form-bg.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.form_main_wrapper.services_form_wrapper {
    margin-top: 2em;
}

.form_subwrapper {
    padding: 1em;
    max-width: 45rem;
}
.form_subwrapper.small {
    background-color: rgb(0,0,0,0.8);
}
.form_flex_group {
    display: flex;
    gap: 4em;
    margin-top:2em;
}

.flex_subgroup {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 1em;
    gap: 0.5em;
}

.form_title_wrapper {
    text-align: center;
}

.form_description {
    width: 33%;
    text-align: center;
}

.form {
    display: grid;
    gap: 1em;
    width: 60%;
}

.form-input {
    min-height: 3rem;
    background-color: transparent;
    border: 2px solid var(--primary-text-color);
}

.form-input {
    padding: 1em;
    font-size: var(--fs--1);
    font-family: 'Montrerrat Regular';
}

.form-input::placeholder { 
    color: rgb(220, 202, 202);
    opacity: 1;
}

.form-btn {
    font-family: 'Montrerrat Bold';
    font-size: var(--fs-0);
    padding-block: 1em;
    cursor: pointer;
}

.agreement {
    margin-top: -1em;
}

.agreement-link {
    color: var(--primary-text-color);
    font-family: 'Montrerrat Semi-Bold';
    border-bottom: 1px solid white;
}

@media screen and (max-width: 650px) {
    .form_flex_group {
        flex-direction: column-reverse;
        gap: 1em;
    }
    .flex_subgroup {
        flex-direction: row;
        gap: 0;
    }
    .form_description {
        text-align: left;
        width: 100%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (min-width: 650px) {
    .services .form_flex_group {
        flex-direction: column-reverse;
        gap: 1em;
    }
    .services .flex_subgroup {
        flex-direction: row;
        gap: 0;
    }
    .services .form_description {
        text-align: left;
        width: 100%;
    }
    .services .form {
        width: 100%;
    }
}

/****** First section ******/ 

.main_wrapper .statue_wrapper {
    background-color: rgb(0,0,0,0.8);
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.statue_image {
    position: absolute;
    object-fit: contain;
    right: 0;
    top: 0;
    height: var(--statue-height);
    background-color: transparent;
    z-index: 1;
    filter: grayscale(100%);
}

.main_text_wrapper {
    position: relative;
    padding: 5%;
    color: var(--primary-text-color);
    z-index: 5;
}

.main_text_subwrapper {
    width: 50%;
}

.request_consultation {
    display: block;
    cursor: pointer;
    margin-block: 3em;
    padding: 1em 2em;
    background-color: transparent;
    font-size: var(--fs-1);
    font-family: 'Montrerrat Regular';
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    border-radius: 10px;
}

.request_consultation:focus, .request_consultation:hover {
    color: rgb(0,0,0,0.8);
    background-color: var(--primary-text-color);
}

@media screen and (max-width: 750px) {
    .statue_image {
        opacity: 0.5;
    }
    .main_text_wrapper {
        padding-inline: 10%;
    }
    :root {
        --statue-height: calc(25rem + 10vw);
    }
    .num_wrapper {
        padding-top: 0em;
    }
    .request_button {
        font-size: var(--fs-0);
        margin-block: 2em;
    }
}

@media screen and (max-width: 600px) {
    .main_text_subwrapper {
        width: 100%;
    }
}

/****** Second section ******/


/****** Carousel ******/

.carousel {
    padding-block: 2em;
    position: relative;
    overflow: hidden;
  }
  
.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    text-align: center;
}

.carousel-item img {
    width: 70%;
    aspect-ratio: 1.3 / 1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prev { left: 10px; }
.next { right: 10px; }

/****** About us section ******/

.description_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    text-align: center;
}

.framed_digit {
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #F7F7F1;
    font-weight: 900;
    font-size: 2rem;
    color: #F7F7F1;
    text-align: center;
    font-family: 'Montrerrat Black';
    margin-right: 0.5em;
    flex-shrink: 0;
}

.rating_subsection {
    width: calc(100% - 2em);
    margin-top: 1em;
}

.flex_group {
    display: flex;
    align-items: center;
    margin-block: 0.7em;
    text-align: left;
}

.logo {
    margin: 2rem 0 1rem 0;
}

.description_subsection {
    text-align: left;
    text-indent: 2em;
    padding: 2em;
}

/****** Practice page ******/

.practice_wrapper h1 {
    padding-top: 1em;
    text-align: center;
}

/****** Services page ******/

.main.services, .main.support {
    padding: 2em;
}

.services_header {
    text-align: center;
}

.services_section {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
}

.services_left_subsection, .services_right_subsection {
    flex: 1;
    padding: 1.5em;
    min-width: 300px;
}

@media screen and (max-width: 500px) {
    .services_left_subsection, .services_right_subsection {
        padding-inline: 0;
    }
    .main.services, .main.support {
        padding-inline: 0;
    }
}

.service_item {
    border-bottom: 3px solid var(--primary-text-color);
    padding-top: 1em;
    cursor: pointer;
}

.price {
    font-family: 'Montrerrat Semi-Bold';
    font-size: var(--fs-1);
    text-align: right;
    padding-block: 0.5em;
}

.service_summary {
    word-wrap: break-word;
}

.hidden {
    display: none;
}

/****** Footer ******/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em 1em;
    border-top: 2px solid var(--primary-text-color);
}

.underscored {
    text-decoration: underline;
    padding-bottom: 1em;
}

.no_margin {
    margin: 0;
}


/****** Contact form ******/

#contactForm {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm label {
    display: block;
    margin-bottom: 5px;
}

#contactForm input, #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

#contactForm button {
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
}

/****** Floating messages ******/

.yved {
    position: fixed;
    right: 20px;
    top: 70px;
    width: 250px;
    color: white;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    display: none;
}

.yvedt {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 16px;
    width: 210px;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

.yvedf1 {
    background-color: #363636;
    opacity: 0.7;    
}

.yvedvt {
    float: right;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}